

.jumbotron {
    background-color:transparent;
}

body{
    background-color: #212121;
}

.hidden{
    display:none;
}

.unhide{
    display:show;
}

.green {
    color:#69F0AE;
}   

.small{
    width: 40rem;
}

#cards{
    display: none;
}
